<ion-view title="" hide-back-button="true">
    <ion-nav-title>
        <span ng-if="tabsPage == 'home'">home</span>
        <span ng-if="tabsPage == 'group'">我关注的群组</span>
        <span ng-if="tabsPage == 'find'">find</span>
        <span ng-if="tabsPage == 'message'">message</span>
        <span ng-if="tabsPage == 'user'">user</span>
    </ion-nav-title>
    <ion-nav-buttons side="right">
        <button class="ion-ios-more button nav_right_more button-stable" ng-click="showMoreGroup()" ng-show="ifShowMoreGroup"></button>
    </ion-nav-buttons>

    <ion-tabs class="tabs-icon-only tabs-balanced">
        <!--home-->
        <ion-tab icon-off="ion-home" icon-on="ion-home" href="#/mantou/index?tab=home">
            <ion-content has-header="true" has-footer="false" padding="true" class="tabs-content">
                home
                <a href="#/mantou/creatgroup">creatgroup</a>
            </ion-content>
        </ion-tab>
        <!--group-->
        <ion-tab icon-off="ion-grid" icon-on="ion-grid" href="#/mantou/index?tab=group">
            <ion-content has-header="true" has-footer="false" padding="true" class="tabs-content">
                <div>
                    <a href="" ng-repeat="group in followGroups">
                        <img src="{{group.img}}" alt=""/>
                        <span>{{group.name}}</span>
                    </a>
                </div>
            </ion-content>
        </ion-tab>
        <!--find-->
        <ion-tab icon-off="ion-search" icon-on="ion-search" href="#/mantou/index?tab=find">
            <ion-content has-header="true" has-footer="false" padding="true" class="tabs-content">
                find
            </ion-content>
        </ion-tab>
        <!--message-->
        <ion-tab icon-off="ion-email" icon-on="ion-email" href="#/mantou/index?tab=message">
            <ion-content has-header="true" has-footer="false" padding="true" class="tabs-content">
                message
            </ion-content>
        </ion-tab>
        <!--user-->
        <ion-tab icon-off="ion-person" icon-on="ion-person" href="#/mantou/index?tab=user">
            <ion-content has-header="true" has-footer="false" padding="true" class="tabs-content">
                <a class="button button-light" nav-transition="none" href="javascript:;" ng-click="logout()">退出</a>
            </ion-content>
        </ion-tab>
    </ion-tabs>
</ion-view>