ul {
  padding: 0; }

li {
  list-style: none; }

* {
  outline: 0; }

h1, h2, h3, h4, h5, h6, p {
  margin: 0; }

html, body, .webbody {
  width: 100%;
  height: 100%;
  overflow: hidden; }

body {
  font: 12px/18px Arial, 'Droid Sans', 'Microsoft YaHei', 'Hiragino Sans GB', STXihei, 'simsun', 'sans-serif';
  color: #333; }

a {
  color: #00B7FF; }

.webbody {
  padding: 0 0 0 200px; }

.groupcontent {
  float: left;
  width: 100%;
  height: 100%;
  padding: 0 0 0 340px; }

.mtcontent, .groupbody {
  float: left;
  padding: 20px 0 0 20px;
  height: 100%;
  width: 100%;
  overflow-x: hidden;
  overflow-y: auto;
  background: #f2f2f2; }

.home_title {
  margin: 0 0 15px;
  font-size: 34px;
  line-height: 40px; }

.fileinput-button {
  position: relative;
  overflow: hidden; }

.fileinput-button input {
  position: absolute;
  top: 0;
  right: 0;
  margin: 0;
  opacity: 0;
  -ms-filter: 'alpha(opacity=0)';
  font-size: 200px;
  direction: ltr;
  cursor: pointer; }

.blocklist {
  margin-right: -20px; }
  .blocklist .mtimg_block {
    float: left;
    width: 320px;
    height: 240px;
    overflow: hidden;
    margin: 0 20px 20px 0;
    position: relative;
    border-radius: 8px; }
    .blocklist .mtimg_block .block_img {
      display: block;
      width: 320px;
      height: 240px; }
    .blocklist .mtimg_block .block_text {
      position: absolute;
      top: 0;
      left: 0;
      padding: 30px 30px 0;
      width: 100%;
      height: 100%;
      box-sizing: border-box;
      background: rgba(0, 0, 0, 0.3); }
      .blocklist .mtimg_block .block_text .block_title {
        font-size: 28px;
        color: #fff;
        line-height: 34px;
        overflow: hidden;
        display: block;
        margin-bottom: 10px; }
      .blocklist .mtimg_block .block_text .block_info {
        font-size: 20px;
        color: #fff;
        line-height: 24px;
        height: 96px;
        overflow: hidden;
        display: block; }
    .blocklist .mtimg_block:hover .block_text {
      background: rgba(0, 0, 0, 0.1); }

.mygrouplist {
  margin-right: -20px; }
  .mygrouplist .groupblock {
    float: left;
    width: 244px;
    height: 64px;
    padding: 0 0 0 64px;
    border-radius: 4px;
    background: #fff;
    margin: 0 20px 20px 0; }
    .mygrouplist .groupblock img {
      float: left;
      width: 64px;
      height: 64px;
      margin-left: -64px;
      border-radius: 4px 0 0 4px; }
    .mygrouplist .groupblock .title {
      display: block;
      padding: 10px 10px 0;
      line-height: 24px;
      font-size: 14px;
      width: 100%;
      overflow: hidden;
      white-space: nowrap; }
    .mygrouplist .groupblock .intro {
      display: block;
      line-height: 20px;
      font-size: 12px;
      padding: 0 10px;
      overflow: hidden;
      white-space: nowrap;
      color: #999; }
    .mygrouplist .groupblock:hover {
      text-decoration: none; }
  .mygrouplist .group_edit {
    cursor: pointer;
    float: left;
    width: 244px;
    height: 64px;
    padding: 0 0 0 64px;
    border-radius: 4px;
    margin: 0 20px 20px 0; }
    .mygrouplist .group_edit i {
      float: left;
      width: 64px;
      height: 64px;
      margin-left: -64px;
      border-radius: 4px 0 0 4px; }
    .mygrouplist .group_edit .icon_findgroup {
      background: url(/img/icon_findgroup.png) center no-repeat; }
    .mygrouplist .group_edit .icon_addgroup {
      background: url(/img/icon_addgroup.png) center no-repeat; }
    .mygrouplist .group_edit .title {
      font-size: 20px;
      display: block;
      width: 100%;
      height: 64px;
      line-height: 64px;
      text-indent: 10px;
      color: #333; }
    .mygrouplist .group_edit:hover {
      text-decoration: none; }

.cropper-container {
  position: relative;
  overflow: hidden;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  -webkit-touch-callout: none; }

.cropper-container img {
  width: 100%;
  height: 100%;
  min-width: 0 !important;
  min-height: 0 !important;
  max-width: none !important;
  max-height: none !important; }

.cropper-canvas, .cropper-modal {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0; }

.cropper-canvas {
  background-color: #fff;
  opacity: 0;
  filter: alpha(opacity=0); }

.cropper-modal {
  background-color: #000;
  opacity: .5;
  filter: alpha(opacity=50); }

.cropper-dragger {
  position: absolute;
  top: 10%;
  left: 10%;
  width: 80%;
  height: 80%; }

.cropper-viewer {
  display: block;
  width: 100%;
  height: 100%;
  overflow: hidden;
  outline: #69f solid 1px;
  outline-color: rgba(51, 102, 255, 0.75); }

.cropper-dashed {
  position: absolute;
  display: block;
  border: 0 dashed #fff;
  opacity: .5;
  filter: alpha(opacity=50); }

.cropper-dashed.dashed-h {
  top: 33.3%;
  left: 0;
  width: 100%;
  height: 33.3%;
  border-top-width: 1px;
  border-bottom-width: 1px; }

.cropper-dashed.dashed-v {
  top: 0;
  left: 33.3%;
  width: 33.3%;
  height: 100%;
  border-right-width: 1px;
  border-left-width: 1px; }

.cropper-face, .cropper-line, .cropper-point {
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  opacity: .1;
  filter: alpha(opacity=10); }

.cropper-face {
  top: 0;
  left: 0;
  cursor: move;
  background-color: #fff; }

.cropper-line {
  background-color: #69f; }

.cropper-line.line-e {
  top: 0;
  right: -3px;
  width: 5px;
  cursor: e-resize; }

.cropper-line.line-n {
  top: -3px;
  left: 0;
  height: 5px;
  cursor: n-resize; }

.cropper-line.line-w {
  top: 0;
  left: -3px;
  width: 5px;
  cursor: w-resize; }

.cropper-line.line-s {
  bottom: -3px;
  left: 0;
  height: 5px;
  cursor: s-resize; }

.cropper-point {
  width: 5px;
  height: 5px;
  background-color: #69f;
  opacity: .75;
  filter: alpha(opacity=75); }

.cropper-point.point-e {
  top: 50%;
  right: -3px;
  margin-top: -3px;
  cursor: e-resize; }

.cropper-point.point-n {
  top: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: n-resize; }

.cropper-point.point-w {
  top: 50%;
  left: -3px;
  margin-top: -3px;
  cursor: w-resize; }

.cropper-point.point-s {
  bottom: -3px;
  left: 50%;
  margin-left: -3px;
  cursor: s-resize; }

.cropper-point.point-ne {
  top: -3px;
  right: -3px;
  cursor: ne-resize; }

.cropper-point.point-nw {
  top: -3px;
  left: -3px;
  cursor: nw-resize; }

.cropper-point.point-sw {
  bottom: -3px;
  left: -3px;
  cursor: sw-resize; }

.cropper-point.point-se {
  right: -3px;
  bottom: -3px;
  width: 20px;
  height: 20px;
  cursor: se-resize;
  opacity: 1;
  filter: alpha(opacity=100); }

.cropper-point.point-se:before {
  position: absolute;
  right: -50%;
  bottom: -50%;
  display: block;
  width: 200%;
  height: 200%;
  content: " ";
  background-color: #69f;
  opacity: 0;
  filter: alpha(opacity=0); }

@media (min-width: 768px) {
  .cropper-point.point-se {
    width: 15px;
    height: 15px; } }

@media (min-width: 992px) {
  .cropper-point.point-se {
    width: 10px;
    height: 10px; } }

@media (min-width: 1200px) {
  .cropper-point.point-se {
    width: 5px;
    height: 5px;
    opacity: .75;
    filter: alpha(opacity=75); } }

.cropper-hidden {
  display: none !important; }

.cropper-invisible {
  position: fixed;
  top: 0;
  left: 0;
  z-index: -1;
  width: auto !important;
  max-width: none !important;
  height: auto !important;
  max-height: none !important;
  opacity: 0;
  filter: alpha(opacity=0); }

.cropper-move {
  cursor: move; }

.cropper-crop {
  cursor: crosshair; }

.cropper-disabled .cropper-canvas, .cropper-disabled .cropper-face, .cropper-disabled .cropper-line, .cropper-disabled .cropper-point {
  cursor: not-allowed; }

.menubar {
  float: left;
  margin-left: -200px;
  width: 200px;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  height: 100%;
  background: #F0F0F0;
  overflow: hidden;
  overflow-y: auto; }
  .menubar .logo_img {
    width: 200px;
    height: 120px;
    margin: 20px auto 0;
    background: url(/img/logo.png) center no-repeat;
    background-size: 120px 120px;
    border-bottom: 1px solid #ddd; }
  .menubar .menu_list li {
    border-bottom: 1px solid #ddd; }
    .menubar .menu_list li a {
      display: block;
      position: relative;
      padding: 0 0 0 10px;
      height: 50px;
      line-height: 50px;
      font-size: 14px;
      color: #333; }
      .menubar .menu_list li a .glyphicon {
        font-size: 30px;
        vertical-align: middle;
        margin-right: 5px;
        display: inline-block;
        width: 40px;
        height: 40px;
        line-height: 36px;
        text-align: center; }
      .menubar .menu_list li a .menuimg {
        display: inline-block;
        width: 40px;
        height: 40px;
        margin-right: 5px; }
        .menubar .menu_list li a .menuimg img {
          border-radius: 4px;
          width: 40px;
          height: 40px;
          display: inline-block; }
      .menubar .menu_list li a sup {
        position: absolute;
        right: 10px;
        top: 18px;
        padding: 2px 6px;
        line-height: 12px;
        font-size: 12px;
        color: #fff;
        text-align: center;
        background: #3a2;
        border-radius: 12px; }
      .menubar .menu_list li a:hover {
        background: #E9E9E9;
        text-decoration: none; }

.groupmenu {
  width: 340px;
  height: 100%;
  border-right: 1px solid #ddd;
  box-sizing: border-box;
  float: left;
  margin: 0 0 0 -340px;
  overflow-y: auto;
  background: #F0F0F0; }
  .groupmenu .grouttitle {
    height: 60px;
    line-height: 60px; }
    .groupmenu .grouttitle h2 {
      float: left;
      font-size: 24px;
      margin: 0;
      line-height: 60px;
      font-weight: normal;
      width: 70%;
      text-indent: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      word-wrap: break-word; }
    .groupmenu .grouttitle .postbtn {
      cursor: pointer;
      float: right;
      font-size: 20px;
      color: #333;
      width: 20%;
      text-align: center; }
      .groupmenu .grouttitle .postbtn .glyphicon {
        font-size: 14px;
        margin-right: 3px; }
      .groupmenu .grouttitle .postbtn:hover {
        color: #41a1e1;
        text-decoration: none; }
  .groupmenu .group_search {
    height: 40px;
    border-top: 1px solid #ddd;
    border-bottom: 1px solid #ddd; }
    .groupmenu .group_search input {
      float: left;
      width: 80%;
      border: 0;
      height: 38px;
      padding: 10px;
      background: #fff;
      font-size: 14px; }
    .groupmenu .group_search .searchbtn {
      float: left;
      width: 20%;
      text-align: center;
      height: 38px;
      line-height: 38px;
      border-left: 1px solid #ddd;
      font-size: 14px; }
      .groupmenu .group_search .searchbtn .glyphicon {
        margin-right: 3px; }
      .groupmenu .group_search .searchbtn:hover {
        text-decoration: none;
        background: #41a1e1;
        color: #fff; }
  .groupmenu .group_postlist li > a.post_link {
    display: block;
    width: 100%;
    padding: 10px 10px 10px 60px;
    position: relative;
    border-bottom: 1px solid #ddd; }
    .groupmenu .group_postlist li > a.post_link .userimg {
      position: absolute;
      top: 10px;
      left: 10px;
      width: 40px;
      height: 40px;
      border-radius: 20px;
      display: block; }
    .groupmenu .group_postlist li > a.post_link .username {
      display: block;
      font-size: 12px;
      color: #666;
      line-height: 18px;
      margin-bottom: 10px; }
    .groupmenu .group_postlist li > a.post_link .posttitle {
      display: block;
      font-size: 18px;
      color: #333;
      line-height: 20px;
      height: 20px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      word-wrap: break-word;
      margin-bottom: 10px; }
    .groupmenu .group_postlist li > a.post_link .postinfo {
      display: block;
      font-size: 12px;
      color: #999;
      line-height: 18px;
      height: 18px;
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
      word-break: break-all;
      word-wrap: break-word; }
    .groupmenu .group_postlist li > a.post_link sup {
      display: block;
      position: absolute;
      top: 10px;
      right: 10px;
      padding: 2px 4px;
      line-height: 12px;
      font-size: 12px;
      color: #3b2;
      text-align: center;
      background: #fff;
      border: 1px solid #eee;
      border-radius: 4px; }
    .groupmenu .group_postlist li > a.post_link:hover {
      text-decoration: none;
      background: #E9E9E9; }
  .groupmenu .group_postlist li > .no_post {
    display: block;
    width: 100%;
    height: 60px;
    line-height: 60px;
    color: #333;
    text-align: center;
    font-size: 16px; }

.modal-footer {
  text-align: center; }
  .modal-footer button {
    font-size: 18px; }

.md-editor {
  display: block;
  border: 1px solid #ddd;
  border-radius: 4px; }

.md-editor .md-footer, .md-editor > .md-header {
  display: block;
  padding: 6px 4px;
  background: #f5f5f5;
  border-radius: 4px 4px 0 0; }

.md-editor > .md-header {
  margin: 0; }

.md-editor > .md-preview {
  background: #fff;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  min-height: 10px;
  overflow: auto; }

.md-editor > textarea {
  font-size: 14px;
  outline: 0;
  margin: 0;
  display: block;
  padding: 0;
  width: 100%;
  border: 0;
  border-top: 1px dashed #ddd;
  border-bottom: 1px dashed #ddd;
  border-radius: 0;
  box-shadow: none;
  background: #fff;
  border-radius: 0 0 4px 4px; }

.md-editor > textarea:focus {
  box-shadow: none;
  background: #fff; }

.md-editor.active {
  border-color: #66afe9;
  outline: 0;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6); }

.md-editor .md-controls {
  float: right;
  padding: 3px; }

.md-editor .md-controls .md-control {
  right: 5px;
  color: #bebebe;
  padding: 3px 3px 3px 10px; }

.md-editor .md-controls .md-control:hover {
  color: #333; }

.md-editor.md-fullscreen-mode {
  width: 100%;
  height: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 99999;
  padding: 60px 30px 15px;
  background: #fff !important;
  border: 0 !important; }

.md-editor.md-fullscreen-mode .md-footer {
  display: none; }

.md-editor.md-fullscreen-mode .md-input, .md-editor.md-fullscreen-mode .md-preview {
  margin: 0 auto !important;
  height: 100% !important;
  font-size: 20px !important;
  padding: 20px !important;
  color: #999;
  line-height: 1.6em !important;
  resize: none !important;
  box-shadow: none !important;
  background: #fff !important;
  border: 0 !important; }

.md-editor.md-fullscreen-mode .md-preview {
  color: #333;
  overflow: auto; }

.md-editor.md-fullscreen-mode .md-input:focus, .md-editor.md-fullscreen-mode .md-input:hover {
  color: #333;
  background: #fff !important; }

.md-editor.md-fullscreen-mode .md-header {
  background: 0 0;
  text-align: center;
  position: fixed;
  width: 100%;
  top: 20px; }

.md-editor.md-fullscreen-mode .btn-group {
  float: none; }

.md-editor.md-fullscreen-mode .btn {
  border: 0;
  background: 0 0;
  color: #b3b3b3; }

.md-editor.md-fullscreen-mode .btn.active, .md-editor.md-fullscreen-mode .btn:active, .md-editor.md-fullscreen-mode .btn:focus, .md-editor.md-fullscreen-mode .btn:hover {
  box-shadow: none;
  color: #333; }

.md-editor.md-fullscreen-mode .md-fullscreen-controls {
  position: absolute;
  top: 20px;
  right: 20px;
  text-align: right;
  z-index: 1002;
  display: block; }

.md-editor.md-fullscreen-mode .md-fullscreen-controls a {
  color: #b3b3b3;
  clear: right;
  margin: 10px;
  width: 30px;
  height: 30px;
  text-align: center; }

.md-editor.md-fullscreen-mode .md-fullscreen-controls a:hover {
  color: #333;
  text-decoration: none; }

.md-editor.md-fullscreen-mode .md-editor {
  height: 100% !important;
  position: relative; }

.md-editor .md-fullscreen-controls {
  display: none; }

.md-nooverflow {
  overflow: hidden;
  position: fixed;
  width: 100%; }

.index-container {
  height: 100%;
  width: 100%;
  background: url('http://dn-xuqi.qbox.me/1.jpg') no-repeat; }
  .index-container .container-item {
    width: 230px;
    margin-right: auto;
    margin-left: auto; }
    .index-container .container-item.content {
      position: absolute;
      top: 50%;
      left: 50%;
      margin-left: -115px;
      margin-top: -45px; }
      .index-container .container-item.content button {
        display: block;
        width: 230px;
        height: 40px;
        margin-bottom: 10px; }
        .index-container .container-item.content button:last-child {
          margin-bottom: 0; }
        .index-container .container-item.content button.login {
          color: #449d44; }
    .index-container .container-item.footer {
      text-align: center;
      bottom: 20px;
      position: absolute;
      width: 100%; }

.me-page {
  position: relative; }
  .me-page .panel {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%; }
  .me-page .img-name {
    margin-bottom: 10px; }
    .me-page .img-name img {
      height: 90px;
      width: 90px; }

.tabs .nav-tabs {
  font-size: 14px;
  cursor: pointer; }
  .tabs .nav-tabs .setting {
    float: right; }
.tabs .content {
  width: 100%;
  border: 1px solid red;
  padding: 10px; }
  .tabs .content .form-group:last-child {
    margin-bottom: 0; }

.groupinfo {
  padding: 0 0 0 120px;
  margin-bottom: 20px; }
  .groupinfo .groupimg {
    float: left;
    margin: 0 0 0 -120px;
    width: 100px;
    height: 100px;
    border-radius: 4px; }
  .groupinfo .grouptitle {
    height: 50px;
    line-height: 50px; }
    .groupinfo .grouptitle h1 {
      float: left;
      font-size: 46px;
      margin: 0 20px 0 0; }
  .groupinfo .groupintro, .groupinfo .grouphoster {
    height: 20px;
    line-height: 20px;
    font-size: 12px;
    color: #666; }

.group_menu {
  height: 20px;
  line-height: 20px;
  margin-bottom: 20px; }
  .group_menu a {
    float: left;
    font-size: 16px;
    padding: 0 5px;
    margin: 0 15px 0 0; }

.group_listttile {
  font-size: 20px;
  height: 30px;
  line-height: 30px;
  margin-bottom: 10px; }

.groupabout_line {
  font-size: 14px;
  line-height: 20px; }

.groupmanage_formtab {
  width: 600px; }
  .groupmanage_formtab .nav-tabs {
    margin-bottom: 20px; }

.articlebody {
  padding: 20px;
  background: #fff; }
  .articlebody .article_title {
    font-size: 30px;
    color: #333;
    margin: 0 0 10px; }
  .articlebody .article_btnline {
    height: 30px;
    line-height: 30px;
    margin-bottom: 10px; }
    .articlebody .article_btnline .article_group {
      float: left;
      font-size: 14px; }
      .articlebody .article_btnline .article_group a {
        padding: 0 5px; }
    .articlebody .article_btnline .linebtn {
      float: right;
      color: #333;
      font-size: 14px;
      margin: 0 10px;
      cursor: pointer; }
      .articlebody .article_btnline .linebtn i {
        font-size: 20px;
        margin: 0 4px 0 0;
        vertical-align: text-bottom; }
      .articlebody .article_btnline .linebtn:hover {
        color: #00B7FF; }
  .articlebody .floor_info {
    width: 100%;
    height: 50px;
    background: #F9F9F9;
    border-radius: 4px; }
    .articlebody .floor_info .userinfo {
      float: left;
      padding: 5px 0 0 60px; }
      .articlebody .floor_info .userinfo img {
        float: left;
        width: 40px;
        height: 40px;
        margin: 0 0 0 -50px;
        border-radius: 20px; }
      .articlebody .floor_info .userinfo .username, .articlebody .floor_info .userinfo .posttime {
        font-size: 12px;
        display: block; }
      .articlebody .floor_info .userinfo .posttime {
        color: #666; }
      .articlebody .floor_info .userinfo:hover {
        text-decoration: none; }
  .articlebody .commentbtn {
    float: right;
    color: #333;
    font-size: 14px;
    margin: 0 5px;
    line-height: 50px;
    cursor: pointer; }
    .articlebody .commentbtn i {
      font-size: 20px;
      margin: 0 4px 0 0;
      vertical-align: text-bottom; }
    .articlebody .commentbtn:hover {
      color: #00B7FF; }
  .articlebody .floornum {
    float: right;
    font-size: 11px;
    line-height: 12px;
    color: #999;
    background: #fff;
    border: 1px solid #ddd;
    padding: 3px 4px;
    border-radius: 4px;
    margin: 16px 15px 0 10px; }
  .articlebody .floor_con {
    padding: 20px;
    font-size: 14px; }
